<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" />
    <title>Gráficas</title>
  </head>
  <body>
    <div class="navbar">
      <div class="logo">CRISTOPHER PAIZ</div>
      <div class="links">
        <a href="{% url 'mostrarProductos' %}" class="link">Inicio</a>
        <a href="{% url 'home' %}" class="link">CRUD Productos</a>
        <a href="{% url 'chart_producto' %}" class="link">Gráfica</a>
      </div>
    </div>
    <div class="titulo">
      <h1>Gráfica por categorías</h1>
    </div>

    <div class="graficas">
      <div class="graf1">
        <canvas id="myChart"> </canvas>
      </div>
      <div class="graf2">
        <canvas id="myChart2"> </canvas>
      </div>
    </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script type="text/javascript">
    let usedColors = new Set();
    let randomBackgroundColor = [];
    const ctx = document.getElementById("myChart");
    const ctx2 = document.getElementById("myChart2");
    var df = {{df|safe}};
    var df1 = {{df1|safe}};

    let dynamicColors = function() {
        let r = Math.floor(Math.random() * 255);
        let g = Math.floor(Math.random() * 255);
        let b = Math.floor(Math.random() * 255);
        let color = "rgb(" + r + "," + g + "," + b + ")";

        if (!usedColors.has(color)) {
            usedColors.add(color);
            return color;
        } else {
            return dynamicColors();
        }
    };

    for (let i in df) {
        randomBackgroundColor.push(dynamicColors());
    }

        new Chart(ctx, {
          type: "polarArea",
          data: {
            labels: df,
            datasets: [
              {
                data: df1,
                backgroundColor: randomBackgroundColor,
                label: "Cantidad de objetos en la categoría",
                borderWidth: 1,
              },

            ],
          },
          options: {
            responsive: false,
            maintainAspectRatio: false,
            plugins: {
                legend: {
                  position: "top",
                  align: "center",
                  labels: {
                    font: {
                        size: 18,
                        family: "Arial"
                    }
                  }
                }
            },
        }
        });

        new Chart(ctx2, {
          type: "pie",
          data: {
            labels: df,
            datasets: [
              {
                data: df1,
                backgroundColor: randomBackgroundColor,
                label: "Cantidad de objetos en la categoría",
                borderWidth: 1,
              },

            ],
          },
          options: {
            responsive: false,
            maintainAspectRatio: false,
            plugins: {
                legend: {
                  position: "top",
                  align: "center",
                  labels: {
                    font: {
                        size: 18,
                        family: "Arial"
                    }
                  }
                }
            },
        }
        });
  </script>
</html>
