<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" />
    <!-- <link rel="stylesheet" href="{% static 'css/style.css'%}" /> -->
    <title>Catálogo</title>
  </head>
  <body>
    <div class="navbar">
      <div class="logo">CRISTOPHER PAIZ</div>
      <div class="links">
        <a href="{% url 'mostrarProductos' %}" class="link">Inicio</a>
        <a href="{% url 'home' %}" class="link">CRUD Productos</a>
        <a href="{% url 'chart_producto' %}" class="link">Gráfica</a>
      </div>
    </div>
    <div class="titulo">
      <h1>Catálogo con PostgreSQL y Django</h1>
    </div>
    <div class="dboton">
      <a href="{% url 'nuevoProducto' %}" class="nuevo">Nuevo Producto</a>
    </div>
    <table class="tabla">
      <tr>
        <th class="thpeq">ID</th>
        <th class="thmed2">Nombre</th>
        <th class="thmed">Precio</th>
        <th class="thmed">Cantidad</th>
        <th class="thmed">Categoría</th>
        <th class="thgra">Descripción</th>
        <th class="thpeq">Editar</th>
        <th class="thpeq">Eliminar</th>
      </tr>
      {% for resultado in datos %}
      <tr>
        <td>{{resultado.id}}</td>
        <td>{{resultado.nombre}}</td>
        <td class="tddescription">Q. {{resultado.precio}}.00</td>
        <td>{{resultado.cantidad}} unidades</td>
        <td>{{resultado.categoria}}</td>
        <td class="tddescription">{{resultado.descripcion}}</td>
        <td class="tdlink"><a href="modify/{{resultado.id}}">Editar</a></td>
        <td class="tdlinkr">
          <a
            href="Delete/{{resultado.id}}"
            onclick="return confirm('¿Está seguro de borrar este registro?'); document.URL='/'"
            >Eliminar</a
          >
        </td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
