<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" />
    <!-- <link rel="stylesheet" href="{% static 'css/style.css'%}" /> -->
    <title>Nuevo Producto</title>
  </head>
  <body>
    <div class="navbar">
      <div class="logo">CRISTOPHER PAIZ</div>
      <div class="links">
        <a href="{% url 'mostrarProductos' %}" class="link">Inicio</a>
        <a href="{% url 'home' %}" class="link">CRUD Productos</a>
        <a href="{% url 'chart_producto' %}" class="link">Gráfica</a>
      </div>
    </div>
    <div class="titulo">
      <h1>Agregar nuevo producto</h1>
    </div>
    <form method="POST">
      {% csrf_token %}
      <div class="formulario" autocomplete="off">
        <h3 class="formname">Nombre producto</h3>
        <input
          type="text"
          placeholder="Ingrese nombre del producto"
          name="nombre"
          required
        />
        <div class="subdiv">
          <h3 class="formname1">Precio producto</h3>
          <input
            type="text"
            placeholder="Ej. 100"
            name="precio"
            pattern="[0-9]+"
            required
            class="input-small"
          />
          <h3 class="formname1">Cantidad del producto</h3>
          <input
            type="text"
            placeholder="Ej. 15"
            name="cantidad"
            pattern="[0-9]+"
            required
            class="input-small"
          />
        </div>
        <h3 class="formname">Categoría del producto</h3>
        <input
          type="text"
          placeholder="Ingrese la categoría del producto"
          name="categoria"
          required
        />
        <h3 class="formname">Descripción del producto</h3>
        <input
          type="text"
          placeholder="Ingrese una descripcion del producto"
          name="descripcion"
          required
        />
        <input type="submit" value="Añadir nuevo producto" />
      </div>
      <div class="mensaje">
        {% if messages %} {% for mess in messages %}
        <b style="color: green; margin: 0 auto; text-align: center; width: 100%"
          >{{mess}}</b
        >
        {% endfor %} {% endif %}
      </div>
    </form>
    <a href="{% url 'home' %}">Volver al Catálogo</a>
  </body>
</html>
